@use 'sass:math';

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,regular,500,600,700);
//</Подключаем шрифты>=======================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
:root {
  --headerHeight: 3.5rem; // 56px

  --firstColor: hsl(228, 66%, 53%);
  --firstColorAlt: hsl(228, 66%, 47%);
  --firstColorLight: hsl(228, 62%, 59%);
  --firstColorLighten: hsl(228, 100%, 97%);
  --secondColor: hsl(25, 83% 53%);
  --titleColor: hsl(228, 57%, 28%);
  --textColor: hsl(228, 15%, 50%);
  --textColorLight: hsl(228, 12%, 75%);
  --borderColor: hsl(228, 99% 98%);
  --bodyColor: #fff;
  --containerColor: #fff;

  --zTooltip: 10;
  --zFixed: 100;

  @media screen and (min-width: 968px) {
    --biggestFontSize: 4rem;
    --h1FontSize: 2.25rem;
    --h2FontSize: 1.5rem;
    --h3FontSize: 1.25rem;
    --normalFontSize: 1rem;
    --smallFontSize: 0.875rem;
    --smallerFontSize: 0.813rem;
  }

  --fontFamily: 'Yanone Kaffeesatz', sans-serif;

  --biggestFontSize: 2.25rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallerFontSize: 0.75rem;

  --fontMedium: 500;
  --fontSemiBold: 600;
}
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--normalFontSize);
  background-color: var(--bodyColor);
  color: var(--textColor);
}

h1,
h2,
h3 {
  color: var(--titleColor);
  font-weight: var(--fontSemiBold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input,
button {
  font-family: var(--fontFamily);
  outline: none;
  border: none;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.section {
  padding: 3rem 0 2rem;

  &__title {
    font-size: var(--h2FontSize);
    margin-bottom: 1rem;
    line-height: 140%;

    span {
      color: var(--secondColor);
    }
  }

  &__subtitle {
    display: block;
    font-size: var(--smallFontSize);
    color: var(--secondColor);
  }
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import 'header';
@import 'swiper';
@import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.home {
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
  padding-bottom: 0;

  &__container {
    padding-top: 4rem;
    row-gap: 3.5rem;
  }

  &__title,
  &__value-number {
    color: #fff;
  }

  &__title {
    font-size: var(--biggestFontSize);
    line-height: 120%;
    margin-bottom: 1.25rem;
  }

  &__description {
    color: var(--textColorLight);
    margin-bottom: 2rem;
  }

  &__search {
    background-color: var(--bodyColor);
    padding: 0.35rem 0.35rem 0.35rem 0.75rem;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    border: 3px solid var(--textColorLight);
    margin-bottom: 2rem;

    i {
      font-size: 1.5rem;
      color: var(--firstColor);
    }

    &-input {
      width: 70%;
      background-color: var(--bodyColor);
      color: var(--textColor);
      margin: 0 0.5rem;

      &::placeholder {
        color: var(--textColorLight);
      }
    }
  }

  &__value {
    display: flex;
    column-gap: 2.5rem;

    &-number {
      font-size: var(--h1FontSize);
      font-weight: var(--fontMedium);

      span {
        color: var(--secondColor);
      }
    }

    &-description {
      display: flex;
      color: var(--textColorLight);
      font-size: var(--smallerFontSize);
      margin-bottom: 1rem;
    }
  }

  &__images {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__orbe {
    width: 265px;
    height: 265px;
    background: linear-gradient(
      180deg,
      hsl(0, 0%, 16%) 93%,
      hsl(0, 0%, 27%) 100%
    );
    border: 1px solid var(--borderColor);
    border-width: 1px 0 0 1px;
    transform: rotate(45deg);
  }

  &__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    display: inline-flex;
    align-items: flex-end;
    bottom: -1.5rem;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
  }
}

.button {
  display: inline-block;
  background: linear-gradient(101deg, hsl(228, 66%, 53%), hsl(228, 66%, 47%));
  color: #fff;
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: var(--normalFontSize);
  font-weight: var(--fontMedium);
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 12px hsla(228, 66%, 45%, 0.25);
  }
}

.nav__button {
  display: none;
}

.logos {
  &__container {
    padding-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
  }

  &__img img {
    height: 60px;
    opacity: 0.4;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.popular {
  &__container {
    padding: 1rem 0 3rem;
  }

  &__card {
    width: 255px;
    height: auto;
    background-color: var(--containerColor);
    padding: 0.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: 0.4s;

    &:hover {
      box-shadow: 0 17px 16px hsla(228, 66%, 45%, 0.1);
    }
  }

  &__img {
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  &__data {
    padding: 0 1rem 0 0.5rem;
  }

  &__price {
    font-size: var(--h2FontSize);
    color: var(--textColor);
    margin-bottom: 0.25rem;

    span {
      color: var(--secondColor);
    }
  }

  &__title {
    font-size: var(--h3FontSize);
    margin-bottom: 0.75rem;
  }

  &__description {
    font-size: var(--smallFontSize);
  }
}

.swiper {
  &-button-prev::after,
  &-button-next::after {
    content: '';
  }

  &-button-next,
  &-button-prev {
    top: initial;
    bottom: 0;
    width: initial;
    height: initial;
    background-color: var(--containerColor);
    border: 2px solid var(--textColorLight);
    padding: 6px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--firstColor);
  }

  &-button-prev {
    left: calc(50% - 3rem);
  }

  &-button-next {
    right: calc(50% - 3rem);
  }
}

.value {
  &__container {
    row-gap: 3rem;
  }

  &__images {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__orbe {
    width: 266px;
    height: 266px;
    background-color: hsl(228, 24%, 97%);
    border: 1px solid var(--borderColor);
    border-width: 1px 0 0 1px;
    transform: rotate(45deg);
  }

  &__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
  }

  &__description {
    font-size: var(--normalFontSize);
    margin-bottom: 2rem;
  }

  &__accordion {
    display: grid;
    row-gap: 1.5rem;

    &-item {
      background-color: var(--bodyColor);
      border: 2px solid var(--borderColor);
      border-radius: 0.5rem;
      padding: 1rem 0.75rem;
    }

    &-header {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &-icon {
      padding: 5px;
      border-radius: 0.25rem;
      font-size: 18px;
      margin-right: 0.75rem;
      transition: 0.3s;
    }

    &-title {
      font-size: var(--h2FontSize);
    }

    &-arrow {
      display: inline-flex;
      background-color: var(--firstColorLighten);
      padding: 0.25rem;
      color: var(--firstColor);
      border-radius: 2px;
      font-size: 10px;
      margin-left: auto;
      transition: 0.3s;

      i {
        transition: 0.4s;
      }
    }

    &-description {
      font-size: var(--h3FontSize);
      padding: 1.25rem 2.5rem 0 2.75rem;
    }

    &-content {
      overflow: hidden;
      height: 0;
      transition: all 0.25s ease;
    }
  }
}

.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);

  & .value__accordion-icon {
    box-shadow: 0 4px 4px hsla(228, 66%, 45%, 0.1);
  }

  & .value__accordion-arrow {
    box-shadow: 0 2px 4px hsla(228, 66%, 45%, 0.1);

    i {
      transform: rotate(-180deg);
    }
  }
}

.contact {
  &__container {
    row-gap: 2rem;
  }

  &__images {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__orbe {
    width: 266px;
    height: 266px;
    background-color: hsl(228, 24%, 97%);
    border: 1px solid var(--borderColor);
    border-width: 1px 0 0 1px;
    transform: rotate(45deg);
  }

  &__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
  }

  &__description {
    font-size: var(--normalFontSize);
    margin-bottom: 2.5rem;
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 0.75rem;

    &-box {
      background-color: var(--bodyColor);
      border: 2px solid var(--borderColor);
      padding: 1.25rem 0.75;
      border-radius: 0.5rem;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 8px 24px hsla(228, 66%, 45%, 0.1);
      }
    }

    &-info {
      display: flex;
      align-items: flex-start;
      column-gap: 0.75rem;
      margin-bottom: 1.25rem;
    }

    i {
      padding: 6px;
      background-color: var(--firstColorLighten);
      border-radius: 6px;
      font-size: 1.5rem;
      color: var(--firstColor);
    }

    &-title {
      margin-top: 0.5rem;
      font-size: var(--h2FontSize);
    }

    &-description {
      font-size: var(--normalFontSize);
    }

    &-button {
      text-align: center;
      font-size: var(--smallFontSize);
      padding: 14px 0;
      width: 100%;
      border-radius: 0.25rem;
      background: var(--firstColorLighten);
      color: var(--firstColor);
      font-weight: var(--fontSemiBold);
      box-shadow: none;

      &:hover {
        background-color: var(--firstColor);
        color: #fff;
      }
    }
  }
}

.subscribe {
  padding: 2.5rem 0;

  &__container {
    background-color: var(--firstColor);
    padding: 3rem 0.2rem;
    border-radius: 1.25rem;
    border: 6px solid var(--firstColorLight);
    text-align: center;
  }

  &__title {
    font-size: var(--h2FontSize);
    color: #fff;
    margin-bottom: 1rem;
  }

  &__description {
    color: hsl(228, 90%, 92%);
    font-size: var(--normalFontSize);
    margin-bottom: 2rem;
  }

  &__button {
    border: 2px solid #fff;
    background: var(--firstColorLight);
    font-size: var(--smallFontSize);

    &:hover {
      background-color: var(--firstColor);
    }
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(228, 8%, 76%);
  border-radius: 0.5rem;

  &-thumb {
    background-color: hsl(228, 8%, 64%);
    border-radius: 0.5rem;

    &:hover {
      background-color: hsl(228, 8%, 54%);
    }
  }
}

.scrollup {
  position: fixed;
  background-color: var(--container-color);
  color: var(--titleColor);
  right: 1rem;
  bottom: -30%;
  font-size: 1.7rem;
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  box-shadow: 0 8px 12px hsla(228, 66%, 45%, 0.1);
  transition: 0.3s;

  &:hover {
    transform: translateY(-0.25rem);
    color: var(--firstColor);
  }
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 8rem;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
